.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head h2 {
  color: var(--main-color);
  text-transform: capitalize;
}
.cards {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 10px;
}

.main {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.infoImg {
  width: 50%;
}
.infoImg img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.images {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.images img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid var(--main-color);
}
.infoProduct {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.infoProduct h3 {
  font-weight: bold;
}

@media (max-width: 550px) {
  .cards {
    justify-content: center;
  }
  .main {
    flex-direction: column;
  }
  .infoImg {
    width: 100%;
  }
  .images {
    max-width: 100%;
  }
  .infoProduct {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .sec {
    padding: var(--padding-y) 0;
  }
}
@media (max-width: 450px) {
  .head {
    flex-direction: column;
    gap: 10px;
  }
  .cards {
    justify-content: center;
  }
  .img img {
    max-width: 100%;
    object-fit: contain;
  }
  .images img {
    width: 50px;
    height: 50px;
  }
}
